@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' , sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ebf5fc;
}

a {
    text-decoration: none;
}


ul {
    list-style: none;
}


/* ------------ Scroll bar : new design ------------ */
::-webkit-scrollbar {
    width: 20px;
    background: linear-gradient(to bottom right,  #7ad4e0, #eef1f1);
}
::-webkit-scrollbar-thumb {
    
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}
::-webkit-scrollbar-track {
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
    background: #32A3B1;
}

/* ------ adapted for firefox ------ */

@supports (scrollbar-color: red blue) {
    * {
        scrollbar-color: #359cf0 #aef1ee;
        scrollbar-width: thin;
    }

}



.wrapper{
    z-index: 1;
    display: block;
}
.wrapper h4{
    color:#777;
    font-size: 3em;
    text-align: center;
    font-weight: 700;
}
.wrapper h5 {
    color: #777;
    font-family: Dancing script, sans-serif;
    text-align: center;
    font-size: 1.9em;
    margin-top: 10px;
}
.wrapper p {
    text-align: center;
    margin-top: 10px;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1100px;
    flex-wrap: wrap; 
    margin-top: 50px;
}

.container .card {
    width: 320px;
    margin: 20px;
    border-radius: 40px;
    padding: 40px 30px;
    background: #ebf5fc;
    box-shadow: -6px -6px 20px rgba(255, 255, 255, 1),
                 6px 6px 20px rgba(0, 0, 0, 0.1);
}


.container .card:hover  {
    box-shadow: inset -6px -6px 20px rgba(255, 255, 255, 0.5),
                inset 6px 6px 20px rgba(0, 0, 0, 0.05);
}

.container .card .imgbx {
    position: relative;
    text-align: center; 
}
.container .card .imgbx img {
    max-width: 120px;
    
}

.container .card .contentBx{
    position: relative;
    margin-top: 20px;
}
.container .card .contentBx h2 {
    text-align: center;
    color: #777;
    font-weight: 700;
    font-size: 1.4em;
}
.container .card .contentBx p {
    font-size: 1.2em;
    color: #777;
    
}

.container .card .contentBx a {
    display: inline-block;
    margin-left: 90px;
    margin-top: 18px;
    padding: 10px 20px;
    margin-top: 15px;
    color: #777;
    border-radius: 40px;
    text-decoration: none;
    font-size: 16px;
    box-shadow: -4px -4px 15px rgba(255, 255, 255, 1),
                 4px 4px 15px rgba(0, 0, 0, 0.1);
    
}
.container .card .contentBx a:hover {
    box-shadow: inset -4px -4px 10px rgba(255, 255, 255, 0.5),
                inset 4px 4px 10px rgba(0, 0, 0, 0.1);
}
.container .card a:hover span {
    display: block;
    transform: scale(0.98);
}

.container .card:hover .imgBx,
.container .card:hover .contentBx {
    transform: scale(0.98);
}


/*-------Media social -----------*/

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.son {
    display: flex;
    justify-content: center;
    align-items: center;
    
    transition: color 0.2s ease-out, transform 0.2s ease-out;
    color: #696969;
    cursor: pointer;
    margin: 25px;
    height: 100px;
    width: 100px;
    background: #ebf5fc;
    font-size: 32px;
    padding: 25px;
    border: 2px solid rgba(255, 255, 255, 0.3);
    box-shadow: 4px 4px 6px 0 rgba(0, 0, 0, 0.1),
                -4px -4px 6px #fff;
    border-radius: 50%;
}

.son a {
    text-decoration: none;
    color: rgba(128, 128, 128, 1);
}

.son.git, .son.lin, .son.twi {
    color: rgba(128, 128, 128, 1);
}



.son.git:hover a{
    color: #c61dff;
    
}
.son.lin:hover a{
    color: #2868B2;
}
.son.twi:hover a{
    color: rgba(0, 172, 238, 1);
}

/*-------  Description  -----------*/

.explication {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1100px;
    flex-wrap: wrap;
    position: relative;
    text-align: center;
}

.explication .card2 {
    width: 1100px;
    margin-bottom: 60px;
    border-radius: 40px;
    padding: 40px 30px;
    background: #ebf5fc;
    box-shadow: -6px -6px 20px rgba(255, 255, 255, 1),
                 6px 6px 20px rgba(0, 0, 0, 0.1);
}
.explication .box {
    border: 1px solid rgb(187, 187, 187);
    border-radius: 40px;
    padding: 40px;
    font-family: Dancing script, sans-serif;
    position: relative;

}

.explication .box::before {
    font-size: 30px;
    content: "Consuming an Api";
    position: absolute;
    top: -26px;
    left: 29px;
    padding: 5px 10px;
    background-color: #ebf5fc;
    color: #32A3B1;
}

.explication h5 {
    color: #777;
    font-size: 2em;
    
}
.explication p {
    color: #777;
    font-size: 1.2em;
    margin-bottom: 15px;
    margin-top: 15px;
    
    
}
/*-------  video player  -----------*/
.explication .card2 .box .player {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    gap: 15px;
}
.explication .card2 .box .player .play {
    position: relative;
    width: 40px;
    height: 40px;
    background: #ebf5fc;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: -4px -4px 15px rgba(255, 255, 255, 1),
    4px 4px 15px rgba(0, 0, 0, 0.1);
    transition: 0.5s;
}
.explication .card2 .box .player.active .play{
    box-shadow: 0 0 0 150vh #32A3B1;

}
.explication .card2 .box .player .play::before {
    content: '';
    position: absolute;
    border: 18px solid #777;
    border-top: 9px solid transparent;
    border-bottom: 9px solid transparent;
    border-right: 0px solid transparent;
}
.explication .card2 .box .player .play:hover {
    box-shadow: inset -4px -4px 10px rgba(255, 255, 255, 0.5),
                inset 4px 4px 10px rgba(0, 0, 0, 0.1);
}
.explication .card2 .box .player p {
    font-weight: 500;
    font-size: 0.8em;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #888;
    margin-top: 5px;
    margin-bottom: 30px;
}
.explication .card2 .box .clip {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 900;
    transition: 0.5s;
}
.explication .card2 .box .clip.active {
    transition-delay: 0.25s;
    transform: translate(-50%,-50%) scale(1);
}
.explication .card2 .box .clip video {
    max-width: 900px;
    outline: none;
    border: 10px solid #fff;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.25);
}
.explication .card2 .box .clip .close {
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #fff;
}

.explication .btn {
    display: inline-block;
    margin-left: 20px;
    margin-top: 18px;
    padding: 10px 20px;
    margin-top: 15px;
    color: #777;
    border-radius: 40px;
    text-decoration: none;
    font-size: 16px;
    box-shadow: -4px -4px 15px rgba(255, 255, 255, 1),
                 4px 4px 15px rgba(0, 0, 0, 0.1);
}

.explication .btn:hover {
    box-shadow: inset -4px -4px 10px rgba(255, 255, 255, 0.5),
                inset 4px 4px 10px rgba(0, 0, 0, 0.1);
}

.explication .btn:hover span {
    display: block;
    transform: scale(0.98);
}

/*-------  Contact Me  -----------*/

.liquid {
    position: relative;
    left: -80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}
.liquid .drop {
    position: relative;
    width: 525px;
    height: 525px;
    box-shadow: inset 20px 20px 20px rgba(0, 0, 0, 0.05),
    25px 35px 20px rgba(0, 0, 0, 0.05),
    25px 30px 30px rgba(0, 0, 0, 0.05),
    inset -20px -20px 25px rgba(255, 255, 255, 0.9);
    transition: 0.5s;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 53% 47% 29% 71% / 44% 42% 58% 56% ;
}
.liquid .drop:hover {
    border-radius: 50%;
}
.liquid .drop::before {
    content: '';
    position: absolute;
    top: 35px;
    left: 150px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #fff;
    opacity: 0.9;
} 
.liquid .drop::after {
    content: '';
    position: absolute;
    top: 68px;
    left: 178px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #fff;
    opacity: 0.9;
} 
.liquid .drop .content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 40px;
    gap: 15px;
}
.liquid .drop .content h2 {
    position: relative;
    color: #777;
    font-size: 1.5em;
}
.liquid .drop .content form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.liquid .drop .content form .inputbox {
    position: relative;
    width: 225px;
    box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.1),
                inset -2px -5px 10px rgba(255, 255, 255, 1),
                        15px 15px 10px rgba(0, 0, 0, 0.05),
                        15px 10px 15px rgba(0, 0, 0, 0.025);
    border-radius: 25px;
}
.liquid .drop .content form .inputbox::before {
    content: '';
    position: absolute;
    top: 8px;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    height: 5px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
}
.liquid .drop .content form .inputbox input {
    border: none;
    outline: none;
    background: transparent;
    width: 100%;
    font-size: 1em;
    padding: 10px 15px;
}
.liquid .drop .content form .inputbox textarea {
    border: none;
    outline: none;
    background: transparent;
    width: 100%;
    font-size: 1em;
    padding: 10px 15px;
}
.liquid .drop .content form .inputbox input[type="submit"] {
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    letter-spacing: 0.1em;
    font-weight: 500;

}
.liquid .drop .content form .inputbox:last-child {
    background: #32A3B1;
    width: 120px;
    box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.1),
                15px 15px 10px rgba(0, 0, 0, 0.05),
                15px 10px 15px rgba(0, 0, 0, 0.025);
    transition: 0.5s;
}
.liquid .drop .content form .inputbox:last-child:hover {
    width: 150px;
}
.btns {
    position: absolute;
    right: -120px;
    bottom: 0px;
    width: 120px;
    height: 120px;
    background: #c61dff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    line-height: 1.2em;
    letter-spacing: 0.1em;
    font-size: 0.8em;
    text-align: center;
    box-shadow: inset 10px 10px 10px rgba(190, 1, 254, 0.05),
    15px 25px 10px rgba(190, 1, 254, 0.1),
    15px 20px 20px rgba(190, 1, 254, 0.1),
    inset -10px -10px 15px rgba(255, 255, 255, 0.5);
    border-radius: 45% 56% 62% 38% / 57% 55% 45% 43%;
    transition: 0.25s;
}
.btns:hover {
    border-radius: 50%;
}
.btns::before {
    content: '';
    position: absolute;
    top: 15px;
    left: 30px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
    opacity: 0.45;
}
.btns.linkedin {
    bottom: 150px;
    right: -120px;
    width: 90px;
    height: 90px;
    border-radius: 49% 51% 52% 48% / 63% 59% 41% 37%;
    box-shadow: inset 10px 10px 10px rgba(1, 180, 255, 0.05),
    15px 25px 10px rgba(1, 180, 255, 0.1),
    15px 20px 20px rgba(1, 180, 255, 0.1),
    inset -10px -10px 15px rgba(255, 255, 255, 0.5);
    background: #32A3B1;
}
.btns.linkedin::before {
    left: 20px;
    width: 15px;
    height: 15px;
}
.btns.linkedin::after {
    content: '';
    position: absolute;
    top: 28px;
    left: 33px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #fff;
    opacity: 0.45;
}
.btns.linkedin:hover {
    border-radius: 50%;
}

/*------- Media social 2 -----------*/
.box-area {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.box ul li {
    list-style: none;
}
.box li  {
    cursor: pointer;
    transition: color 0.2s ease-out, transform 0.2s ease-out;
    color: #696969;
    display: inline-block;
    margin: 0 20px;
    padding: 25px;
    border: 2px solid rgba(255, 255, 255, 0.3);
    box-shadow: 4px 4px 6px 0 rgba(0, 0, 0, 0.1),
                -4px -4px 6px #fff;
    border-radius: 50%;
}
.box li a {
    text-decoration: none;
}
.box i {
    font-size: 40px;
}
.box li:hover   {
    box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.1),
                -4px -4px 10px #fff;   
}
.box li:focus {
    outline: none;
    box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.1),
                -4px -4px 10px #fff,
                inset 4px 4px 10px 0 rgba(0, 0, 0, 0.1),
                inset -4px -4px 10px #fff;   
}
.box li:hover,
.box li:focus {
    color: darkturquoise;
}


@media (max-width: 991px) {
    .clip video {
        max-width: 90%;
    }
}